<div class="card">
  <img src="www.lipikaar.org/public/images/lipikaar_color.svg" class="card-img-top" alt="...">
  <div class="card-body">
    <div class="media mb-2">
      <img src="..." class="align-self-center mr-3 rounded-circle" alt="...">
      <div class="media-body">
        <h5 class="mt-0"><a href="">Bhawani Shankar</a></h5>
        <p class="m-0">Today at 12:30 PM</p>
      </div>
    </div>
    <h3 class="card-title">New title of the Composition</h3>
    <p>asdasdasd<br>
      asdasdasd<br>
      asdasdasd<br>
      asdasdasd<br>
      asdasdasd<br>
      asdasdasd<br>
    </p>
    <hr>
    <div class="row">
      <div class="col"><button class="btn btn-secondary btn-block"><i class="material-icons left">add</i>Like</button></div>
      <div class="col"><button class="btn btn-secondary btn-block"><i class="material-icons left">add</i>Like</button></div>
      <div class="col"><button class="btn btn-secondary btn-block"><i class="material-icons left">add</i>Like</button></div>
    </div>
    <hr>
    <div class="row">
      <div class="col">
        <div class="media">
          <img src="../../../assets/j.png" class="rounded-circle img-3" alt="...">
          <div class="media-body mt-2">
            <!-- <span class="badge badge-pill badge-primary"> -->
            <textarea class="form-control-1 w-100" name="comment" id="comment" placeholder="Write your comment..."
              required></textarea>
            <!-- </span> -->
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <a href="">29 more comments</a>
        <div class="media">
          <img src="../../../assets/j.png" class="rounded-circle img-3" alt="...">
          <div class="media-body mt-2">
            <span class="badge badge-pill badge-primary">
              <strong>Deepak Kumar</strong>&nbsp;Comments dfsfsdfsdfsfdf
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>