<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        asdd
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <profile-about></profile-about>
    </div>
    <div class="col-8">
      <compose></compose>
      <compositions></compositions>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">Introduction</div>
        <div class="row">
          <div class="col-3">
            <div class="list-group" id="list-tab" role="tablist">
              <a class="list-group-item list-group-item-action active" id="list-overview-list" data-toggle="list" href="#list-overview"
                role="tab" aria-controls="overview">Overview</a>
              <a class="list-group-item list-group-item-action" id="list-workNEducation-list" data-toggle="list" href="#list-workNEducation"
                role="tab" aria-controls="workNEducation">Work & Education</a>
              <a class="list-group-item list-group-item-action" id="list-contactNBasic-list" data-toggle="list" href="#list-contactNBasic"
                role="tab" aria-controls="contactNBasic">Contact & Basic</a>
              <a class="list-group-item list-group-item-action" id="list-places-list" data-toggle="list" href="#list-places"
                role="tab" aria-controls="places">Places</a>
            </div>
          </div>
          <div class="col-9">
            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active" id="list-overview" role="tabpanel" aria-labelledby="list-overview-list">

              </div>
              <div class="tab-pane fade" id="list-workNEducation" role="tabpanel" aria-labelledby="list-workNEducation-list">
                <h3>Work</h3>
                <hr>
                <!-- <a class="btn btn-light"><i class="material-icons left">add</i>Add Wrok Places</a> -->
                <profile-work></profile-work>
                <h3>College</h3>
                <hr>
                <a class="btn btn-light"><i class="material-icons left">add</i>Add a College</a>
                <profile-education></profile-education>
              </div>
              <div class="tab-pane fade" id="list-contactNBasic" role="tabpanel" aria-labelledby="list-contactNBasic-list">
                <h3>Email</h3>
                <hr>
                <profile-email></profile-email>
                <h3>Phone</h3>
                <hr>
                <profile-phone></profile-phone>
              </div>
              <div class="tab-pane fade" id="list-places" role="tabpanel" aria-labelledby="list-places-list">
                <h3>Address</h3>
                <hr>
                <profile-address></profile-address>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>  
</div>