<form>
  <h2>Create an account</h2>
  <p>We would help to find the best in you.</p>
  <div class="form-row">
    <div class="form-group col-6">
      <input type="text" name="userName" id="userName" class="form-control" placeholder="First name" aria-label="userName"
        aria-describedby="basic-addon1" required>
    </div>
    <div class="form-group col-6">
      <input type="text" name="userName" id="userName" class="form-control" placeholder="Surname" aria-label="userName"
        aria-describedby="basic-addon1" required>
    </div>
  </div>
  <div class="form-group">
    <input type="text" name="userName" id="userName" class="form-control" placeholder="Mobile number of email address"
      aria-label="userName" aria-describedby="basic-addon1" required>
  </div>
  <div class="form-group">
    <input type="password" name="userName" id="userName" class="form-control" placeholder="New Password" aria-label="userName"
      aria-describedby="basic-addon1" required>
  </div>
  <div class="form-group">
    <input type="password" name="userName" id="userName" class="form-control" placeholder="Confirm Password" aria-label="userName"
      aria-describedby="basic-addon1" required>
  </div>
  <div class="form-group">
    <input type="date" name="dob" id="dob" class="form-control" aria-label="dob" aria-describedby="basic-addon1"
      required>
  </div>
  <div class="form-row">
    <div class="custom-control custom-radio m-2">
      <input type="radio" class="custom-control-input" id="gender-male" name="gender" required>
      <label class="custom-control-label" for="gender-male">Male</label>
    </div>
    <div class="custom-control custom-radio m-2">
      <input type="radio" class="custom-control-input" id="gender-female" name="gender" required>
      <label class="custom-control-label" for="gender-female">Female</label>
    </div>
  </div>
  <div class="form-group">
    <p>By clicking Sign Up, you agree to our Terms, Data Policy and Cookie Policy.</p>
    <input type=submit class="btn btn-primary btn-block" value="Sign up">
  </div>
</form>